{# layout.njk #}

<!DOCTYPE html>
<html lang="es">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title></title>
		
		{# Own CSSs #}
		<link rel="stylesheet" href="public/css/styles.css">

	</head>

	{# Set css body classes in bodyClass block #}
	<body class="{% block bodyClass %}{% endblock %}"> 

		{# CONTENT#}
		<div class="container-fluid">
		
		  <div class="row align-items-center" style="height: 100vh">
			  <aside class="col-3">
			    
			  	{# HEADER #}
					{% import 'partials/aside-menu.njk' as asideMenu %}
					{{ asideMenu.asideMenu() }} 

			  </aside>
			  <main class="col-9">
					{% block content %}Layout block content{% endblock %}		
			  </main>
			</div>
		
		</div>

		{# FOOTER #}
		{% import 'partials/footer.njk' as footer %}
		{{ footer.footer() }}


		{# SCRIPTS #}
		{% import 'partials/scripts.njk' as scripts %}
		{{ scripts.scripts() }}
		
	</body>
</html>
