{# layout.njk #}

<!DOCTYPE html>
<html lang="es">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>{% block titleHeader %}{% endblock %}</title>
		
		{# CDN Bootstrap #}
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		
		{# Own CSSs #}
		<link rel="stylesheet" href="public/css/styles.css">

	</head>

	{# Set css body classes in bodyClass block #}
	<body class="{% block bodyClass %}{% endblock %}">
		
		{# HEADER #}
		{% import 'partials/header.njk' as header %}
		{{ header.header() }}


		{# CONTENT#}
		<div class="container-fluid">
		
		  <div class="row align-items-center">
			  <aside class="col-3">
			    
			  	{# HEADER #}
					{% import 'partials/aside-menu.njk' as asideMenu %}
					{{ asideMenu.asideMenu() }} 

			  </aside>
			  <main class="col-9">
					{% block content %}Layout block content{% endblock %}		
			  </main>
			</div>
		
		</div>

		{# FOOTER #}
		{% import 'partials/footer.njk' as footer %}
		{{ footer.footer() }}


		{# SCRIPTS #}
		{% import 'partials/scripts.njk' as scripts %}
		{{ scripts.scripts() }}
		
	</body>
</html>
