{# layout.njk #}

<!DOCTYPE html>
<html lang="es">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>{% block titleHeader %}{% endblock %}</title>
		
		{# CDN Bootstrap #}
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		
		{# Own CSSs #}
		<link rel="stylesheet" href="public/css/styles.css">

	</head>

	{# Set css body classes in bodyClass block #}
	<body class="{% block bodyClass %}{% endblock %}">
		
		{# HEADER #}
		{% import 'partials/header.njk' as header %}
		{{ header.header() }}


		{# CONTENT#}
		<div class="container-fluid">
		  <div class="row">
			  <aside class="col-3">
			    
			  	{# HEADER #}
					{% import 'partials/aside-menu.njk' as asideMenu %}
					{{ asideMenu.asideMenu() }} 

			  </aside>
			  <main class="col-9">
					{% block content %}Layout block content{% endblock %}		
			  </main>
			</div>
			

		</div>

		<footer class="row justify-content-center fixed-bottom">
			<div class="col-auto">
				<ul class="nav">
				  <li class="nav-item">
				    <a class="nav-link active" href="#">Inicio</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">sobre rDuque</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">Contacto</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link disabled" href="#">Aviso Legal</a>
				  </li>
				</ul>
			</div>
		</footer>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	</body>
</html>
